@use '../custom' as *;

section {
  background: $secondary;
  .connection {
    text-align: center;
    font-size: 2.5rem;
    color: $primary;
    z-index: -1;
    font-family: $font;
    padding-top: 7rem;
    margin-bottom: 1%;
    .underline--magical {
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 88%;
      transition: background-size 0.25s ease-in;
      &:hover {
        background-size: 100% 88%;
      }
    }
  }

  .connect {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      position: relative;
      width: 60px;
      height: 60px;
      background: $primary;
      color: $secondary;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin: 1em;
      border-radius: 15%;
      transition: all 0.4s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #c32aa3;
        border-radius: 15%;
        transform: scale(1.1);
        z-index: -1;
        transition: all 0.4s;
      }

      &:nth-child(2)::before {
        background: #0e76a8;
      }
      &:nth-child(4)::before {
        background: #1da1f2;
      }
      &:nth-child(3)::before {
        background: $primary;
      }
      &:hover::before {
        transform: translateY(10px) scaleX(0.6) scaleY(0.8);
        filter: blur(10px);
      }
      &:hover:nth-child(1) {
        color: #c32aa3;
        text-shadow: 0 0 30px #c32aa3;
      }
      &:hover:nth-child(2) {
        color: #0e76a8;
        text-shadow: 0 0 30px #0e76a8;
      }
      &:hover:nth-child(4) {
        color: #1da1f2;
        text-shadow: 0 0 30px #1da1f2;
      }
      &:hover:nth-child(3) {
        color: #242424;
        text-shadow: 0 0 30px $primary;
      }
    }
  }
}
