@use '../custom' as *;

a {
  text-decoration: none;
}

.main {
  background: $secondary;
  margin-top: 10%;

  h3 {
    font-family: $font;
    font-size: 2.5rem;
    margin-bottom: 3%;
    .underline--magical {
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 88%;
      transition: background-size 0.25s ease-in;
      &:hover {
        background-size: 100% 88%;
      }
    }
  }

  #projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    section {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }

    .project-tile {
      text-align: center;
      flex-basis: 180px;
      height: 180px;
      background-color: #32333b;
      border-radius: 0.5rem;
      margin: 1em;
      transition: all 0.3s ease-in-out;
      width: 60%;
      &:hover {
        transform: scale(1.03);
        background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        color: $secondary;
        box-shadow: 0 10px 30px -5px rgba(255, 255, 255, 0.2);
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
      }

      .main-info {
        font-size: 1.5em;
        font-family: $font;
      }

      .extra-info {
        display: none;
      }

      &:hover a {
        color: $secondary;
      }
    }
    p {
      text-align: center;
    }

    p a {
      margin: 0 0.5em;
    }

    @media screen and (min-width: 769px) {
      .project-tile {
        flex-basis: 250px;
        height: 250px;
      }

      .project-tile:hover .extra-info {
        font-family: $font;
        display: inline;
        text-align: justify;
        margin-right: 4%;
        margin-left: 4%;
      }
    }
  }
}
