@use '../custom' as *;

@keyframes circle {
  from {
    box-shadow: 0 0 0 0px #3d405b;
  }
  to {
    box-shadow: 0 0 0 6px rgba(61, 64, 91, 0);
  }
}
.skill {
  background: $secondary;
  font-family: $font;
  letter-spacing: 0.65px;
  font-size: 15px;
  color: #f1f1f1f1;
  cursor: default;
  h3{
    font-family: $font;
    font-size: 2.5rem;
    margin-bottom: 3%;
    .underline--magical {
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 88%;
      transition: background-size 0.25s ease-in;
      &:hover {
        background-size: 100% 88%;
      }
    }
  }
  .resume {
    width: 70%;
    background: $secondary;
    margin: 20px auto;
    border: 1px solid $primary;
    box-shadow: 0 0 20px -3px $primary;
    position: relative;
    display: flex;
    a {
      text-decoration: none;
      color: #f1f1f1f1;
      display: block;
      transition-duration: 0.3s;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    h3 {
      color: #f1f1f1f1;
      margin: 10px 0;
      text-transform: uppercase;
      font-size: 18px;
    }
    &::before {
      content: "";
      width: 100%;
      height: 6px;
      background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    .base {
      box-sizing: border-box;
      float: left;
      width: 225px;
      padding: 30px 15px;
      background: rgba(238, 238, 238, 0.6);
      > div {
        padding-bottom: 10px;
        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
    .func {
      box-sizing: border-box;
      float: left;
      width: 645px;
      padding: 30px 25px;
      > div {
        padding-bottom: 10px;
        &:last-of-type {
          padding-bottom: 0;
        }
      }
      &:hover {
        > div {
          transition-duration: 0.3s;
          &:hover {
            h3 {
              letter-spacing: 1.6px;
              i {
                transform: scale(1.2);
              }
            }
          }
          &:not(:hover) {
            opacity: 0.5;
          }
        }
      }
      h3 {
        transition-duration: 0.3s;
        margin-top: 0;
        i {
          color: #fcfcfc;
          background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
          width: 42px;
          height: 42px;
          font-size: 20px;
          line-height: 42px;
          border-radius: 50%;
          text-align: center;
          vertical-align: middle;
          margin-right: 8px;
          transition-duration: 0.3s;
        }
      }
      .skills-prog {
        clear: both;
        ul {
          margin-left: 15px;
          li {
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            transition-duration: 0.3s;
            &:hover {
              color: #FD3A69;
              .skills-bar {
                .bar {
                  background: #FD3A69;
                  box-shadow: 0 0 0 1px #FD3A69;
                }
              }
            }
            span {
              display: block;
              width: 120px;
            }
            .skills-bar {
              background: #cdcdcd;
              height: 2px;
              width: calc(100% - 120px);
              position: relative;
              border-radius: 2px;
              .bar {
                position: absolute;
                top: -1px;
                height: 4px;
                background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
                box-shadow: 0 0 0 linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
                border-radius: 5px;
              }
            }
          }
        }
      }
      .skills-soft {
        ul {
          display: flex;
          justify-content: space-between;
          text-align: center;
          li {
            position: relative;
            &:hover {
              svg {
                .cbar {
                  stroke: #d63384;
                  stroke-width: 4px;
                }
              }
              span {
                transform: scale(1.2);
              }
              small {
                transform: scale(1.2);
              }
            }
            svg {
              width: 95%;
              fill: transparent;
              transform: rotate(-90deg);
              circle {
                stroke-width: 1px;
                stroke: #cdcdcd;
              }
              .cbar {
                stroke-width: 3px;
                stroke: #273d7d;
                stroke-linecap: round;
              }
            }
            span {
              position: absolute;
              display: block;
              width: 100%;
              top: 52%;
              transition-duration: 0.3s;
              top: 40%;
            }
            small {
              position: absolute;
              display: block;
              width: 100%;
              top: 52%;
              transition-duration: 0.3s;
            }
          }
        }
      }
      .interests-items {
        box-sizing: border-box;
        padding: 15px;
        width: 100%;
        border: 1px solid #cdcdcd;
        text-align: center;
        display: flex;
        justify-content: space-between;
        div {
          display: inline-block;
          width: 80px;
          height: 80px;
          &:hover {
            i {
              transform: scale(1.2);
            }
            span {
              color: #d63384;
              transition-duration: 0.3s;
            }
          }
          i {
            font-size: 45px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            color: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
            transition-duration: 0.3s;
          }
          i.guitar {
            display: block;
            margin: 0 auto;
            svg {
              width: 50px;
              height: 50px;
              margin-top: 5px;
              fill: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
            }
          }
          span {
            display: block;
          }
        }
      }
    }
  }
}

.projects {
  $breakpoint-tablet-5: 450px;
  h1 {
    font-size: 400%;
    color: #273d7d;
    margin-top: 10%;
  }
  img {
    height: 200px;
    width: 350px;
    border: 1px solid;
    box-shadow: 10px 15px $primary;
    margin: 30px;
    @media (max-width: 450px) {
      height: 75px;
      width: 150px;
      box-shadow: 5px 10px $primary;
    }
  }
}
