@use '../custom' as *;
@keyframes circle {
  from {
    box-shadow: 0 0 0 0px #3d405b;
  }
  to {
    box-shadow: 0 0 0 6px rgba(61, 64, 91, 0);
  }
}
.skill {
  background: #eee;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.65px;
  font-size: 15px;
  color: #555;
  cursor: default;
  margin-top: 20px;

  .resume {
    width: 70%;
    background: #fbfbfb;
    margin: 20px auto;
    border: 1px solid $primary;
    box-shadow: 0 0 20px -3px $primary;
    position: relative;
    display: flex;
    a {
      text-decoration: none;
      color: #555;
      display: block;
      transition-duration: 0.3s;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    h3 {
      color: #3d405b;
      margin: 10px 0;
      text-transform: uppercase;
      font-size: 18px;
    }
    &::before {
      content: "";
      width: 100%;
      height: 6px;
      background: #273d7d;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    .base {
      box-sizing: border-box;
      float: left;
      width: 225px;
      padding: 30px 15px;
      background: rgba(238, 238, 238, 0.6);
      > div {
        padding-bottom: 10px;
        &:last-of-type {
          padding-bottom: 0;
        }
      }
      .profile {
        background: #273d7d;
        padding: 30px 15px 5px 15px;
        margin: -30px -15px 45px -15px;
        position: relative;
        z-index: 2;
        &::after {
          content: "";
          position: absolute;
          background: #273d7d;
          width: 100%;
          height: 30px;
          bottom: -15px;
          left: 0;
          transform: skewY(-5deg);
          z-index: -1;
          i {
            display: inline-block;
            font-size: 30px;
            background: #273d7d;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            line-height: 60px;
            color: #fcfcfc;
            margin: 0 10px 10px 10px;
            transition-duration: 0.3s;
            &::before {
              transition-duration: 0.3s;
            }
          }
          i.fa {
            &::before {
              display: block;
            }
          }
        }
      }
    }
    .func {
      box-sizing: border-box;
      float: left;
      width: 645px;
      padding: 30px 25px;
      > div {
        padding-bottom: 10px;
        &:last-of-type {
          padding-bottom: 0;
        }
      }
      &:hover {
        > div {
          transition-duration: 0.3s;
          &:hover {
            h3 {
              letter-spacing: 1.6px;
              i {
                transform: scale(1.2);
              }
            }
          }
          &:not(:hover) {
            opacity: 0.5;
          }
        }
      }
      h3 {
        transition-duration: 0.3s;
        margin-top: 0;
        i {
          color: #fcfcfc;
          background: #273d7d;
          width: 42px;
          height: 42px;
          font-size: 20px;
          line-height: 42px;
          border-radius: 50%;
          text-align: center;
          vertical-align: middle;
          margin-right: 8px;
          transition-duration: 0.3s;
        }
      }
      .work {
        float: left;
        small {
          display: block;
          opacity: 0.7;
        }
        ul {
          li {
            position: relative;
            margin-left: 15px;
            padding-left: 25px;
            padding-bottom: 15px;
            &:hover {
              &::before {
                animation: circle 1.2s infinite;
              }
              span {
                color: #d63384;
              }
            }
            &:first-of-type {
              &::before {
                width: 10px;
                height: 10px;
              }
            }
            &:last-of-type {
              padding-bottom: 3px;
              &::after {
                border-radius: 1.5px;
              }
            }
            &::before {
              content: "";
              display: block;
              position: absolute;
              width: 10px;
              height: 10px;
              border: 3px solid #3d405b;
              background: #fcfcfc;
              border-radius: 50%;
              left: 0;
              z-index: 1;
            }
            &::after {
              content: "";
              display: block;
              position: absolute;
              width: 3px;
              height: 100%;
              background: #3d405b;
              left: 5px;
              top: 0;
            }
            span {
              transition-duration: 0.3s;
            }
          }
        }
      }
      .edu {
        float: left;
        width: 70%;
        small {
          display: block;
          opacity: 0.7;
        }
        ul {
          li {
            position: relative;
            margin-left: 15px;
            padding-left: 25px;
            padding-bottom: 15px;
            &:hover {
              &::before {
                animation: circle 1.2s infinite;
              }
              span {
                color: #d63384;
              }
            }
            &:first-of-type {
              &::before {
                width: 10px;
                height: 10px;
                left: -2px;
              }
            }
            &:last-of-type {
              padding-bottom: 3px;
              &::after {
                border-radius: 1.5px;
              }
            }
            &::before {
              content: "";
              display: block;
              position: absolute;
              width: 7px;
              height: 7px;
              border: 3px solid #3d405b;
              background: #fcfcfc;
              border-radius: 50%;
              left: 0;
              z-index: 1;
            }
            &::after {
              content: "";
              display: block;
              position: absolute;
              width: 3px;
              height: 100%;
              background: #3d405b;
              left: 5px;
              top: 0;
            }
            span {
              transition-duration: 0.3s;
            }
          }
        }
      }
      .skills-prog {
        clear: both;
        ul {
          margin-left: 15px;
          li {
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            transition-duration: 0.3s;
            &:hover {
              color: #d63384;
              .skills-bar {
                .bar {
                  background: #d63384;
                  box-shadow: 0 0 0 1px #d63384;
                }
              }
            }
            span {
              display: block;
              width: 120px;
            }
            .skills-bar {
              background: #cdcdcd;
              height: 2px;
              width: calc(100% - 120px);
              position: relative;
              border-radius: 2px;
              .bar {
                position: absolute;
                top: -1px;
                height: 4px;
                background: #273d7d;
                box-shadow: 0 0 0 #273d7d;
                border-radius: 5px;
              }
            }
          }
        }
      }
      .skills-soft {
        ul {
          display: flex;
          justify-content: space-between;
          text-align: center;
          li {
            position: relative;
            &:hover {
              svg {
                .cbar {
                  stroke: #d63384;
                  stroke-width: 4px;
                }
              }
              span {
                transform: scale(1.2);
              }
              small {
                transform: scale(1.2);
              }
            }
            svg {
              width: 95%;
              fill: transparent;
              transform: rotate(-90deg);
              circle {
                stroke-width: 1px;
                stroke: #cdcdcd;
              }
              .cbar {
                stroke-width: 3px;
                stroke: #273d7d;
                stroke-linecap: round;
              }
            }
            span {
              position: absolute;
              display: block;
              width: 100%;
              top: 52%;
              transition-duration: 0.3s;
              top: 40%;
            }
            small {
              position: absolute;
              display: block;
              width: 100%;
              top: 52%;
              transition-duration: 0.3s;
            }
          }
        }
      }
      .interests-items {
        box-sizing: border-box;
        padding: 15px;
        width: 100%;
        border: 1px solid #cdcdcd;
        text-align: center;
        display: flex;
        justify-content: space-between;
        div {
          display: inline-block;
          width: 80px;
          height: 80px;
          &:hover {
            i {
              transform: scale(1.2);
            }
            span {
              color: #d63384;
              transition-duration: 0.3s;
            }
          }
          i {
            font-size: 45px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            color: #273d7d;
            transition-duration: 0.3s;
          }
          i.guitar {
            display: block;
            margin: 0 auto;
            svg {
              width: 50px;
              height: 50px;
              margin-top: 5px;
              fill: #273d7d;
            }
          }
          span {
            display: block;
          }
        }
      }
    }
  }
}

.projects {
  $breakpoint-tablet-5: 450px;
  h1 {
    font-size: 400%;
    color: #273d7d;
    margin-top: 10%;
  }
  img {
    height: 200px;
    width: 350px;
    border: 1px solid;
    box-shadow: 10px 15px $primary;
    margin: 30px;
    @media (max-width: 450px) {
      height: 75px;
      width: 150px;
      box-shadow: 5px 10px $primary;
    }
  }
}
